html {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

.recompensa {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    text-justify: distribute;
    
}
body {
    margin: 0;
    background-color: black;
    background-image:url("https://i.pinimg.com/originals/47/9b/f3/479bf37a046c21e20a3e1d47eb935cdf.jpg");
    background-size: 10rem;
}

img {
    width: 300px;
    height: 300px;
    margin: 1em;
    padding:0;
    border-style: ridge;
    border-color: rgba(175, 103, 10, 0.705);
    border-width: 1rem;
    /*
    border: 0.5rem ridge gold;
    */
}

article {
    margin: 2em;
    background: rgb(190, 190, 102);
    box-shadow: 2px 3px 5px black;
  
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img:hover {
    transition: 0.30s;
    box-shadow: 0rem 0.4rem 0.5rem black;
    border-color: goldenrod;
    border-style: ridge;
    border-width: 1rem;
    opacity: 0.8;
}